body {
  margin-top: 200px;  
  text-align: center;
  font-family: monospace;
}

img {
  width: 200px;
  animation: pug 3500ms infinite linear;
  -webkit-animation: pug 3500ms infinite linear;
  -moz-animation: pug 3500ms infinite linear;
  transform-origin: top;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
}

@-moz-keyframes pug {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes pug {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes pug {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}